<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sawca.support.image.mapper.RequestImageMapper">

    <!--single statistics-->
    <!--    <select id="addCount" resultType="java.lang.Long">-->
    <!--        select sum(image_total) from request where operation = 'add'-->
    <!--    </select>-->

    <!--    <select id="fastAddCount" resultType="java.lang.Long">-->
    <!--        select sum(image_total) from request where operation = 'add' and type = 'fast'-->
    <!--    </select>-->

    <!--    <select id="accurateAddCount" resultType="java.lang.Long">-->
    <!--        select sum(image_total) from request where operation = 'add' and type = 'accurate'-->
    <!--    </select>-->

    <!--    <select id="latestFastAddCount" resultType="java.lang.Long">-->
    <!--        select image_total from request where operation = 'add' and type = 'fast' order by id desc limit 1-->
    <!--    </select>-->

    <!--    <select id="latestAccurateAddCount" resultType="java.lang.Long">-->
    <!--        select image_total from request where operation = 'add' and type = 'accurate' order by id desc limit 1-->
    <!--    </select>-->

    <!--    <select id="latestFastAddAvgTime" resultType="java.lang.Long">-->
    <!--        select (max(response_time) - min(request_time)) / count(id)  from request_image where operation = 'add' and type = 'fast' group by request_id order by request_id desc limit 1-->
    <!--    </select>-->

    <!--    <select id="latestFastSearchAvgTime" resultType="java.lang.Long">-->
    <!--        select (max(response_time) - min(request_time)) / count(id)  from request_image where operation = 'search' and type = 'fast'  group by request_id order by request_id desc limit 1-->
    <!--    </select>-->

    <!--    <select id="latestAccurateAddAvgTime" resultType="java.lang.Long">-->
    <!--        select (max(response_time) - min(request_time)) / count(id)  from request_image where operation = 'add' and type = 'accurate' group by request_id order by request_id desc limit 1-->
    <!--    </select>-->

    <!--    <select id="latestAccurateSearchAvgTime" resultType="java.lang.Long">-->
    <!--        select (max(response_time) - min(request_time)) / count(id)  from request_image where operation = 'search' and type = 'accurate'  group by request_id order by request_id desc limit 1-->
    <!--    </select>-->

    <!--    <select id="fastAddAvgTime" resultType="java.lang.Long">-->
    <!--        select (max(response_time) - min(request_time)) / count(id)  from request_image where operation = 'add' and type = 'fast'-->
    <!--    </select>-->

    <!--    <select id="accurateAddAvgTime" resultType="java.lang.Long">-->
    <!--        select (max(response_time) - min(request_time)) / count(id)  from request_image where operation = 'add' and type = 'accurate'-->
    <!--    </select>-->

    <!--    <select id="fastSearchAvgTime" resultType="java.lang.Long">-->
    <!--        select (max(response_time) - min(request_time)) / count(id)  from request_image where operation = 'search' and type = 'fast'-->
    <!--    </select>-->

    <!--    <select id="accurateSearchAvgTime" resultType="java.lang.Long">-->
    <!--        select (max(response_time) - min(request_time)) / count(id)  from request_image where operation = 'search' and type = 'accurate'-->
    <!--    </select>-->
    <!--single statistics-->

    <!--concurrence statistics-->
    <select id="addCount" resultType="java.lang.Long">
        select sum(image_total) from request where operation = 'add'
    </select>

    <select id="fastAddCount" resultType="java.lang.Long">
        select sum(image_total) from request where operation = 'add' and type = 'fast'
    </select>

    <select id="accurateAddCount" resultType="java.lang.Long">
        select sum(image_total) from request where operation = 'add' and type = 'accurate'
    </select>

    <select id="latestFastAddCount" resultType="java.lang.Long">
        select image_total from request where operation = 'add' and type = 'fast' order by id desc limit 1
    </select>

    <select id="latestAccurateAddCount" resultType="java.lang.Long">
        select image_total from request where operation = 'add' and type = 'accurate' order by id desc limit 1
    </select>

    <select id="latestFastAddAvgTime" resultType="java.lang.Long">
        select (max(response_time) - min(request_time)) / count(id)  from request_image where operation = 'add' and type = 'fast' group by request_id order by request_id desc limit 1
    </select>

    <select id="latestFastSearchAvgTime" resultType="java.lang.Long">
        select (max(response_time) - min(request_time)) / count(id)  from request_image where operation = 'search' and type = 'fast'  group by request_id order by request_id desc limit 1
    </select>

    <select id="latestAccurateAddAvgTime" resultType="java.lang.Long">
        select (max(response_time) - min(request_time)) / count(id)  from request_image where operation = 'add' and type = 'accurate' group by request_id order by request_id desc limit 1
    </select>

    <select id="latestAccurateSearchAvgTime" resultType="java.lang.Long">
        select (max(response_time) - min(request_time)) / count(id)  from request_image where operation = 'search' and type = 'accurate'  group by request_id order by request_id desc limit 1
    </select>

    <select id="fastAddAvgTime" resultType="java.lang.Long">
        select (max(response_time) - min(request_time)) / count(id)  from request_image where operation = 'add' and type = 'fast'
    </select>

    <select id="accurateAddAvgTime" resultType="java.lang.Long">
        select (max(response_time) - min(request_time)) / count(id)  from request_image where operation = 'add' and type = 'accurate'
    </select>

    <select id="fastSearchAvgTime" resultType="java.lang.Long">
        select (max(response_time) - min(request_time)) / count(id)  from request_image where operation = 'search' and type = 'fast'
    </select>

    <select id="accurateSearchAvgTime" resultType="java.lang.Long">
        select (max(response_time) - min(request_time)) / count(id)  from request_image where operation = 'search' and type = 'accurate'
    </select>
    <!--concurrence statistics-->
</mapper>
