* {
    box-sizing: content-box;
}

.statistics {
    width: 20%;
}

img.statistics {
    width: 100%;
}

.font-size-17 {
    font-size: 17px;
}

.font-size-24 {
    font-size: 24px;
}

.font-size-32 {
    font-size: 32px;
}