.list-group-item.loading {
  color: #818182;
  background-color: #fdfdfe;
}

.list-group-item.loading p::after {
  color: #818182;
  content: "";
  position: absolute;
  height: 2rem;
  width: 2rem;
  top: 0.5rem;
  right: 1.25rem;
  display: block;
  animation: reroating 1s infinite;
  background: url("../images/loading.png");
  background-size: cover;
}

.list-group-item.too-big {
  color: #721c24;
  background-color: #f8d7da;
}

.list-group-item.too-big p::after {
  color: #721c24;
  content: "图片尺寸过大!";
  position: absolute;
  height: 1rem;
  width: 8rem;
  top: 1rem;
  right: 1.25rem;
  display: block;
}

.list-group-item.failed {
  color: #721c24;
  background-color: #f8d7da;
}

.list-group-item .resend {
  display: none;
}

.list-group-item.failed p::after {
  color: #721c24;
  content: "请求失败,网络异常或未知原因!";
  position: absolute;
  height: 1rem;
  width: 20rem;
  top: 1rem;
  right: 2.25rem;
  display: block;
}

.list-group-item.loading .result {
  display: none;
}

.list-group-item.too-big .result {
  display: none;
}

.list-group-item.failed .result {
  display: none;
}

.list-group-item.failed .resend {
  display: block;
}

.list-group-item p {
  margin: 5px 0;
}

@keyframes reroating {
  0% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(270eg);
  }
  100% {
    transform: rotate(450deg);
  }
}
