.title {
  background: #e9ecef;
}

.search-result {
  border: solid #f8f9fa 0.2rem;
  margin-bottom: 15px;
}

.source {
  position: relative;
  border-bottom: solid 1px #e9ecef;
  margin-bottom: 3px;
}

.source .resend-area {
  position: absolute;
  top: 0;
  right: 0;
}

.resend {
  display: none;
}

.failed .resend {
  display: block;
}
